{% extends 'base.html.twig' %}

{% block title %}
    Sector manager
{% endblock %}
{% block body %}

    {% set peopleCounter = 0 %}
    {% for attendance in attendances %}
        {% if attendance.direction == "entrance" %}
            {% set peopleCounter=peopleCounter+1 %}
        {% endif %}
    {% endfor %}
    <div class="container-fluid">
        {% include 'inc/topNavbar.html.twig' %}
        <div class="row">
            <div class="col"><br></div>
        </div>
        <div class="row">
            <div class="col-8">
                <input class="form-control form-control-lg" type="text" placeholder="login" id="inputLogin">
            </div>
            {#<div class="col-2"><a href="#" class="btn btn-sm btn-info" id="resetPeopleCounterButton">Начать смену</a></div>#}
            <div class="col-1 text-center">
                <span id="peopleCounter">Людей на участке: </span>
            </div>
            <div class="col-1">
                <h1>{% if peopleCounter %}{{ peopleCounter }}</h1>
                <h1>{% else %} 0 {% endif %}</h1>
            </div>
            <div class="col">
                <a href="{{ path('finishShift') }}" class="btn btn-danger" data-toggle="tooltip"
                   data-placement="bottom"
                   title='Внимание! Все сотрудники будут принудительно "выведены" с участка'>
                    Закончить смену
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col"><br></div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'inc/scannedLoginsTable.html.twig' %}
            </div>
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script>
        $(document).ready(function () {
            // $("#inputLogin").keyup(function (event) {
            //     if (event.keyCode == 13) {
            //         window.location.href = '/attendance/new/' + $('#inputLogin').val();
            //
            //     }
            // });
            $("#inputLogin").focus();
            $("#inputLogin").keydown(function (event) {

                if (event.keyCode == 9) {
                    $(this).prop('disabled', true);
                    window.location.href = '/attendance/new/' + $('#inputLogin').val();
                    event.preventDefault();
                }
                if (event.keyCode == 13) {
                    $(this).val('');
                }

            });

            $("#inputLogin").keyup(function (event) {
                if (/[а-я]/i.test($(this).val())) {

                    $(this).val('');
                    alert('Ввод кириллицы запрещен!');
                }

            });


            // $(".form-control-input-comment").keyup(function (event) {
            //     if($(this).val().length>5){
            //         //alert($(this).val());
            //         $(this).prop("disabled", false);
            //     }
            // });

            $(".editComment").click(function () {
                //alert('start');
                $commentId = $(this).attr('data-commentId');
                // alert($commentId);

                $comment = $('#comment_' + $commentId).val();
                // alert($comment);
                $(this).attr('href', $(this).attr('href') + $comment);
            });

            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        });
    </script>
{% endblock %}