{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}
{% block title %}
    Test
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-lg-center text"><h2>Ввод данных</h2></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col"><br></div>
        </div>
        <div class="row">
            <div class="col-8">
                <input class="form-control form-control-lg" type="text" placeholder="login" id="inputLogin">
            </div>
            {#<div class="col-2"><a href="#" class="btn btn-sm btn-info" id="resetPeopleCounterButton">Начать смену</a></div>#}
            <div class="col-2">
                <span id="peopleCounter">{% if peopleCounter %}Людей на участке: <h1>{{ peopleCounter }}</h1> <h1>{% else %} 0 {% endif %}</h1></span>
            </div>
        </div>
        <div class="row">
            <div class="col"><br></div>
        </div>
        <div class="row">
            <div class="col">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Login</th>
                        <th scope="col">DateTime</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Company</th>
                        <th scope="col" colspan="2">Fine</th>
                        <th scope="col" colspan="2">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td> {{ attendance.login }}</td>
                            <td> {{ attendance.dateTime|date('Y-m-d H:i:s') }}</td>
                            <td> {{ attendance.direction }}</td>
                            <td>
                                {% if attendance.login|trim|slice(2,1)=='-' %}
                                    {% set companyPerfix = attendance.login|trim|slice(0,2) %}

                                    {% if companyPerfix =='gs' %}
                                        GSR
                                    {% endif %}
                                    {% if companyPerfix =='sm' %}
                                        SMG
                                    {% endif %}
                                    {% if companyPerfix =='rc' %}
                                        Realnaya Cifra
                                    {% endif %}
                                    {% if companyPerfix =='lt' %}
                                        Leader Team
                                    {% endif %}
                                    {% if companyPerfix =='pm' %}
                                        Premer-M
                                    {% endif %}
                                    {% if companyPerfix =='vp' %}
                                        Vremya Pervih
                                    {% endif %}

                                {% endif %}
                            <td>
                                {{ attendance.fine }}
                            </td>
                            <td>
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Штраф
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/editfine/{{ attendance.id }}/late">Опоздание</a>
                                        <a class="dropdown-item" href="/editfine/{{ attendance.id }}/denial">Отказ от
                                            работы</a>
                                        <a class="dropdown-item"
                                           href="/editfine/{{ attendance.id }}/sabotage">Саботаж</a>
                                        <a class="dropdown-item" href="/editfine/{{ attendance.id }}/">Нет штрафа</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ attendance.comment }}" id="comment_{{ attendance.id }}">
                            </td>
                            <td>
                                <a href="/editcomment/{{ attendance.id }}/" class="btn btn-info btn-sm editComment"
                                   data-commentId="{{ attendance.id }}">+</a>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script>
        $(document).ready(function () {
            // $("#inputLogin").keyup(function (event) {
            //     if (event.keyCode == 13) {
            //         window.location.href = '/attendance/new/' + $('#inputLogin').val();
            //
            //     }
            // });
            $("#inputLogin").focus();
            $("#inputLogin").keydown(function (event) {

                if (event.keyCode == 9) {
                    $(this).prop('disabled', true);
                    window.location.href = '/attendance/new/' + $('#inputLogin').val();
                    event.preventDefault();
                }
                if (event.keyCode == 13) {
                    $(this).val('');
                }

            });

            $("#inputLogin").keyup(function (event) {
                if(/[а-я]/i.test($(this).val())) {

                    $(this).val('');
                    alert('Ввод кириллицы запрещен!');
                }

            });

            $(".editComment").click(function () {
                //alert('start');
                $commentId = $(this).attr('data-commentId');
                // alert($commentId);

                $comment = $('#comment_' + $commentId).val();
                // alert($comment);
                $(this).attr('href', $(this).attr('href') + $comment);
            });

            $("#resetPeopleCounterButton").click(function () {
                window.location.href ="{{ path('resetPeopleCounter') }}";
            });
        });
    </script>
{% endblock %}