{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(depth) }}
    {{ dump(attendances) }}
    {{ dump(worktime) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% include 'inc/topNavbar.html.twig' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7 m-2">
            {% include 'Reports/inc/filtersForm.html.twig' %}
        </div>
    </div>
    <div class="container-fluid m-2">
        <div class="row">
            <div class="col">
                {{ 'reports' }}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        {% for day in depth..0 %}
                            <th colspan="2">
                                {#                                {{ date('-'~day~'days')|date("M d") }}#}
                                {{ date('-'~day~'days')|date("d.m.Y") }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>
                            login
                        </th>
                        <th>
                            company
                        </th>
                        <th>
                            sector
                        </th>
                        {% for day in depth..0 %}
                            <th>
                                {{ '1' }}
                            </th>

                            <th>
                                {{ '2' }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for loginKey, workLogin in worktime %}
                        {% for sectorKey, workSector in  workLogin %}
                            <tr>
                                <td>
                                    {{ loginKey }}
                                </td>
                                <td>

                                    {% if loginKey|trim|slice(2,1)=='-' %}
                                        {% set companyPerfix = attendance.login|trim|slice(0,2) %}

                                        {% if companyPerfix =='gs' %}
                                            GSR
                                        {% elseif companyPerfix =='sm' %}
                                            SMG
                                        {% elseif companyPerfix =='rc' %}
                                            Realnaya Cifra
                                        {% elseif companyPerfix =='lt' %}
                                            Leader Team
                                        {% elseif companyPerfix =='pm' %}
                                            Premer-M
                                        {% elseif companyPerfix =='vp' %}
                                            Vremya Pervih
                                        {% endif %}

                                    {% endif %}
                                </td>
                                <td>
                                    {{ sectorKey }}
                                </td>
                                {% for day in depth..0 %}
                                    <td>
                                        {% set day = date('-'~day~'days') %}
                                        {% if workSector[day|date("d.m.Y")]['1'] is defined %}
                                            {{ workSector[day|date("d.m.Y")]['1'] }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if workSector[day|date("d.m.Y")]['2'] is defined %}
                                            {{ workSector[day|date("d.m.Y")]['2'] }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    </tbody>

                </table>

            </div>
        </div>
    </div>

{% endblock %}