{% extends 'base.html.twig' %}

{% block body %}
    {% include 'inc/topNavbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">&nbsp</div>
        </div>
{#        <div class="row">#}
{#            <div class="col">#}
{#                                {{ date('')|date("m/d/Y H:i:s") }}#}
{#                                {{ date('')|date("H") }}#}
{#                                {{ date('-24hours')|date("H") }}#}
{#                {% set startdate = date('-24hours') %}#}
{#                {{ startdate|date("d/m/Y H:i:s") }}#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-2"> </div>
            <div class="col-10 text-nowrap">
                <div class="row">
                    <div class="col-12 m-0 p-0 text-nowrap">
                        {% for hour in range(23,0,-1) %}
                            <div class="text-center border border-dark"
                                 style="max-width: 300px;min-width: 30px; float: left;">
                                {% set curHour =  date('-'~hour~'hours') %}
                                {{ curHour|date("H") }}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        {% for login, attendance in attendancesOutput %}
            {% set currentTime = date('-24hours') %}
            {% if attendance[0]['direction']=='entrance' %}
                {% set divStyle='bg-secondary' %}
            {% else %}
                {% set divStyle='bg-success' %}
            {% endif %}

            <div class="row">
                <div class="col-2  border-bottom">
                    {{ login }}
                </div>
                <div class="col-10 m-0 p-0">
                    {% for number, event in attendance %}


                        {% set datediff = date(currentTime).diff(event.time) %}
                        {% set minutesdiff =datediff.i + datediff.h*60 %}

{#                        {% set x =divLength.i + divLength.h*60  %}#}
{#                        {{ dump(minutesdiff) }}#}

{#                        {% for i in 1..minutesdiff %}#}
                            <div class="{{ divStyle }} mt-1"
                                 style="max-width: {{ minutesdiff/2 }}px;min-width: {{ minutesdiff/2 }}px; height: 20px ; font-size: 1em; float: left"
                                 data-toggle="tooltip" data-placement="left" title="{{ login }}">

                            </div>
{#                        {% endfor %}#}

                        {% set currentTime = event.time %}
                        {% if event.direction == 'entrance' %}
                            {% set divStyle='bg-success' %}
                        {% else %}
                            {% set divStyle='bg-secondary' %}
                        {% endif %}

                        {% if loop.last %}
                            {% set diffToEnd =date(date()).diff(event.time)  %}

                            {% set minutesdiffToEnd =diffToEnd.i + diffToEnd.h*60 %}


                            <div class="{{ divStyle }} mt-1"
                                 style="max-width: {{ minutesdiffToEnd/2 }}px;min-width: {{ minutesdiffToEnd/2 }}px; height: 20px ; font-size: 1em; float: left"
                                 data-toggle="tooltip" data-placement="left" title="{{ login }}  {{ event.time|date("H:i:s") }}"
                            >

                            </div>
                           
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
{% block javascripts %}
{{ parent()  }}

    <script>
        $(document).ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        });
    </script>
{% endblock %}