{% extends 'base.html.twig' %}

{% block title %}
    Test
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'inc/topNavbar.html.twig' %}

        <div class="row">
            <div class="col-6">
                {% include 'inc/activeUsersTable.html.twig' %}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">Login</div>
                    <div class="col">Time</div>
                    <div class="col">Fine</div>
                    <div class="col">Comment</div>
                </div>
                {% set currentSector =""  %}
                {% for attendance in attendances %}
                    {% if attendance.sector!=currentSector %}
                        <h2 class="text-center border-bottom">{{ attendance.sector }}</h2>
                        {% set currentSector=attendance.sector %}
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            {{ attendance.login }}
                        </div>
                        <div class="col">
                            {{ attendance.datetime|date('Y-m-d H:i:s') }}
                        </div>
                        <div class="col">
                            {{ attendance.fine }}
                        </div>
                        <div class="col">
                            {{ attendance.comment }}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                {% include 'Peep/inc/usersWithFines.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
