{% set InboundArray = ['UNPACK', 'IN', 'RET', 'PUT_K','PUT_M1', 'PUT_M2'] %}
{% set OutBoundArray = ['PICK_K','PICK_M1', 'PICK_M2', 'PACK_MB', 'PACK_IS', 'SORT', 'LOAD'] %}

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom">
                {% if key != "lamoda" %}
                    {{ key|upper }}
                {% else %}
                    {{ 'LM' }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="row bg-dark text-white font-weight-bold">
        <div class="col-2  border-right border-white border-bottom">OPS PERSONAL</div>
        <div class="col-1  border-right border-white border-bottom">TOTAL</div>
        <div class="col-1  border-right border-white border-bottom" id="{{ 'OPS_PERSONAL'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom" id="{{ 'OPS_PERSONAL'~key }}">

            </div>
        {% endfor %}
    </div>

    <div class="row text-white  border-right border-white border-bottom">
        <div class="col-2"></div>
        <div class="col-1 bg-dark  border-right border-white border-bottom text-center">INBOUND</div>
        <div class="col-1 bg-dark  border-right border-white border-bottom" id="{{ 'INBOUND'~'total' }}">{{ 'x'}}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom" id="{{ 'INBOUND'~key }}">
                {{ 'x' }}
            </div>
        {% endfor %}
    </div>

    {% for opsArea in InboundArray %}
        <div class="row border-white">
            <div class="col-2"></div>
            <div class="col-1">{{ opsArea }}</div>
            <div class="col-1" id="{{ opsArea~'total' }}"></div>
            {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
                <div class="col" id = "{{ opsArea~key }}"></div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row text-white">
        <div class="col-2  border-right border-white border-bottom"></div>
        <div class="col-1 bg-dark  border-right border-white border-bottom">OUTBOUND</div>
        <div class="col-1 bg-dark  border-right border-white border-bottom" id="{{ 'OUTBOUND'~'total' }}">{{ 'x' }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-white table-bordered" id="{{ 'OUTBOUND'~key }}">
                {{ 'x' }}
            </div>
        {% endfor %}
    </div>
    {% for opsArea in OutBoundArray %}
        <div class="row border-white ">
            <div class="col-2"></div>
            <div class="col-1">{{ opsArea }}</div>
            <div class="col-1" id="{{ opsArea~'total' }}"></div>
            {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
                <div class="col" id = "{{ opsArea~key }}"></div>
            {% endfor %}
        </div>
    {% endfor %}



    <div class="row text-white">
        <div class="col-2  border-right border-white border-bottom"></div>
        <div class="col-1 bg-dark  border-right border-white border-bottom">TROUB</div>
        <div class="col-1 bg-dark  border-right border-white border-bottom" id="{{ 'TROUB'~'total' }}">{{ 'x' }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-white table-bordered" id="{{ 'TROUB'~key }}">
                {{ 'x' }}
            </div>
        {% endfor %}
    </div>

        <div class="row border-white ">
            <div class="col-2"></div>
            <div class="col-1">CAD_IN</div>
            <div class="col-1" id="{{ 'CAD_IN'~'total' }}"></div>
            {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
                <div class="col" id = "{{ 'CAD_IN'~key }}"></div>
            {% endfor %}
        </div>



    <div class="row mb-3">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            PUP PORTERS
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1 {{ 'PUP_porter'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'PUP_porter'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2 border-right">

        </div>
        <div class="col-1 border-right">
            PUP Porter
        </div>
        <div class="col-1 {{ 'PUP_porter'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'PUP_porter'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            INDITEX
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1 {{ 'INDITEX'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'INDITEX'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2 border-right">

        </div>
        <div class="col-1 border-right">
            INDITEX
        </div>
        <div class="col-1 {{ 'INDITEX'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'INDITEX'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            JEWELRY
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1 {{ 'JEWELRY'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'JEWELRY'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2 border-right">

        </div>
        <div class="col-1 border-right">
            JEWELRY
        </div>
        <div class="col-1 {{ 'JEWELRY'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'JEWELRY'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            MAINTENANCE
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1 {{ 'MAINTENANCE'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'MAINTENANCE'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2 border-right">

        </div>
        <div class="col-1 border-right">
            MAIN
        </div>
        <div class="col-1 {{ 'MAIN'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'MAIN'~key }}"></div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            QUALITY
        </div>
        <div class="col-1" id="{{ 'QUALITY'~'total' }}"></div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col " id="{{ 'QUALITY'~key }}"></div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            NTT PERSONAL
        </div>
        <div class="col-1 border-right">
            GRAND TOTAL
        </div>
        <div class="col-1 {{ 'NTT_PERSONAL'~'total' }}">x</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col {{ 'NTT_PERSONAL'~key }}">x</div>
        {% endfor %}
    </div>


</div>