{% set outboundTotal = usersInSectors['PICK_M1']['total']+
    usersInSectors['PICK_M2']['total']+
    usersInSectors['PACK_MB']['total']+
    usersInSectors['PACK_IS']['total']+
    usersInSectors['SORT']['total']+
    usersInSectors['LOAD']['total'] %}
{% set inboundTotal = usersInSectors['UNPACK']['total']+
    usersInSectors['IN']['total']+
    usersInSectors['RET']['total']+
    usersInSectors['PUT_M1']['total']+
    usersInSectors['PUT_M2']['total'] %}

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom">
                {% if key != "lamoda" %}
                    {{ key|upper }}
                {% else %}
                    {{ 'LMD' }}
                {% endif %}
            </div>
        {% endfor %}
    </div>


    <div class="row bg-dark text-white font-weight-bold">
        <div class="col-2  border-right border-white border-bottom">OPS PERSONAL</div>
        <div class="col-1  border-right border-white border-bottom">TOTAL</div>
        <div class="col-1  border-right border-white border-bottom">{{ inboundTotal + outboundTotal }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom">
                {{ usersInSectors['UNPACK'][key]+
                usersInSectors['IN'][key]+
                usersInSectors['RET'][key]+
                usersInSectors['PUT_M1'][key]+
                usersInSectors['PUT_M2'][key]+
                usersInSectors['PICK_M1'][key]+
                usersInSectors['PICK_M2'][key]+
                usersInSectors['PACK_MB'][key]+
                usersInSectors['PACK_IS'][key]+
                usersInSectors['SORT'][key]+
                usersInSectors['LOAD'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row text-white  border-right border-white border-bottom">
        <div class="col-2"></div>
        <div class="col-1 bg-dark  border-right border-white border-bottom text-center">INBOUND</div>
        <div class="col-1 bg-dark  border-right border-white border-bottom">{{ inboundTotal }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-right border-white border-bottom">
                {{ usersInSectors['UNPACK'][key]+
                usersInSectors['IN'][key]+
                usersInSectors['RET'][key]+
                usersInSectors['PUT_M1'][key]+
                usersInSectors['PUT_M2'][key] }}
            </div>
        {% endfor %}
    </div>

    {% for opsArea in ['UNPACK', 'IN', 'RET', 'PUT_M1', 'PUT_M2'] %}
        <div class="row border-white">
            <div class="col-2"></div>
            <div class="col-1">{{ opsArea }}</div>
            <div class="col-1">{{ usersInSectors[opsArea]['total'] }}</div>
            {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
                <div class="col ">
                    {{ usersInSectors[opsArea][key] }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row text-white">
        <div class="col-2  border-right border-white border-bottom"></div>
        <div class="col-1 bg-dark  border-right border-white border-bottom">OUTBOUND</div>
        <div class="col-1 bg-dark  border-right border-white border-bottom">{{ outboundTotal }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col bg-dark text-white font-weight-bold border-white table-bordered">
                {{ usersInSectors['PICK_M1'][key]+
                usersInSectors['PICK_M2'][key]+
                usersInSectors['PACK_MB'][key]+
                usersInSectors['PACK_IS'][key]+
                usersInSectors['SORT'][key]+
                usersInSectors['LOAD'][key] }}
            </div>
        {% endfor %}
    </div>
    {% for opsArea in ['PICK_M1', 'PICK_M2', 'PACK_MB', 'PACK_IS', 'SORT', 'LOAD'] %}
        <div class="row border-white ">
            <div class="col-2"></div>
            <div class="col-1">{{ opsArea }}</div>
            <div class="col-1">{{ usersInSectors[opsArea]['total'] }}</div>
            {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
                <div class="col">
                    {{ usersInSectors[opsArea][key] }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            PUP PORTERS
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1">
            {{ usersInSectors['PUP_porter']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['PUP_porter'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            PUP porter
        </div>
        <div class="col-1">
            {{ usersInSectors['PUP_porter']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['PUP_porter'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>


    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            SPECIAL ARIAS
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1">
            {{ usersInSectors['CAD_IN']['total']+usersInSectors['QUALITY']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['CAD_IN'][key]+usersInSectors['QUALITY'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            CAD_IN
        </div>
        <div class="col-1">
            {{ usersInSectors['CAD_IN']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['CAD_IN'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            QUALITY
        </div>
        <div class="col-1">
            {{ usersInSectors['QUALITY']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['QUALITY'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            INDITEX
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1">
            {{ usersInSectors['INDITEX']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['INDITEX'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            INDITEX
        </div>
        <div class="col-1">
            {{ usersInSectors['INDITEX']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['INDITEX'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            JEWELRY
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1">
            {{ usersInSectors['JEWELRY']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['JEWELRY'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            JEWELRY
        </div>
        <div class="col-1">
            {{ usersInSectors['JEWELRY']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['JEWELRY'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>

    <div class="row bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2 border-right">
            MAIN
        </div>
        <div class="col-1 border-right">
            TOTAL
        </div>
        <div class="col-1">
            {{ usersInSectors['MAIN']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['MAIN'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
            MAIN
        </div>
        <div class="col-1">
            {{ usersInSectors['MAIN']['total'] }}
        </div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            <div class="col ">
                {{ usersInSectors['MAIN'][key] }}
            </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col"></div>
    </div>


    {% set grandTotal=0 %}
    {% for sector in constant('APP\\Entity\\USER::SECTORS_LIST') %}
        {% set grandTotal=grandTotal+ usersInSectors[sector]['total'] %}

    {% endfor %}

    <div class="row  bg-dark text-white font-weight-bold border-white table-bordered">
        <div class="col-2">NTT PERSONAL</div>
        <div class="col-1">GRAND TOTAL</div>
        <div class="col">{{ grandTotal }}</div>
        {% for key, comp in constant('APP\\Entity\\USER::PROVIDERS_LIST') %}
            {% set curProvTotal=0 %}
            {% for sector in constant('APP\\Entity\\USER::SECTORS_LIST') %}
                {% set curProvTotal=curProvTotal+usersInSectors[sector][key] %}
            {% endfor %}
            <div class="col ">
                {{ curProvTotal }}
            </div>
        {% endfor %}
    </div>

</div>