{% set userIsAdmin = false %}
{% set userIsPeep = false %}
{% set userIsSectorManager = false %}
    {% for role in app.user.roles %}
        {% if role=='ROLE_ADMIN' %}
            {% set userIsAdmin = true %}
        {% endif %}
        {% if role=='ROLE_PEEP' %}
            {% set userIsPeep = true %}
        {% endif %}
        {% if role=='ROLE_SECTOR_MANAGER' %}
            {% set userIsSectorManager = true %}
        {% endif %}
    {% endfor %}
<nav class="navbar navbar-full navbar-light bg-faded" style="background-color: #e3f2fd;">
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu bg-secondary  " aria-labelledby="dropdownMenuButton">
                <p class="mx-3 bg-secondary text-white">Interfaces</p>
                {% if userIsAdmin %}
                    <a class="dropdown-item" href="{{ path('userlist') }}">Admin</a>
                {% endif %}
                {% if userIsPeep %}
                    <a class="dropdown-item" href="{{ path('peepInterface') }}">Peep</a>
                {% endif %}
                {% if userIsSectorManager %}
                    <a class="dropdown-item" href="{{ path('SMworkInterface') }}">Sector Manager</a>
                {% endif %}
                <div class="dropdown-divider"></div>

                <p class="mx-3 bg-secondary text-white">Reports</p>
                {% if userIsAdmin or userIsPeep %}
                    <a class="dropdown-item" href="{{ path('reports') }}">Work time report</a>
                    <a class="dropdown-item" href="{{ path('finesreport') }}">Fines report</a>
                {% endif %}
                {% if userIsSectorManager %}
                    <a class="dropdown-item" href="{{ path('sectorManagerReport') }}">Sector hours report</a>
                {% endif %}
                <div class="dropdown-divider"></div>

            </div>
        </div>
    </div>
    <div class="col-2">
        {% if userIsPeep %}
            {% if attendancesForApproval|length > 0 %}
                <div class="bg-danger"><a class="badge badge-pill badge-danger"
                                          href="#finesTable">Штрафы({{ attendancesForApproval|length }})</a></div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-2"> </div>
    <div class="col-2">
        <div class="col text-lg-center">Login:  {{ app.user.username }}</div>
    </div>
    <div class="col-2">
        <div class="col text-lg-center">Sector:  {{ app.user.sector }}</div>
    </div>
    <div class="col-1 text-lg-center">Shift:
        {% if userIsPeep %}
            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button"
               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                {{ app.user.shift }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for shift in constant('App\\Entity\\USER::NUMBERS_OF_SHIFTS') %}
                    <a class="dropdown-item" href="/setShift/{{ shift }}">{{ shift }}</a>
                {% endfor %}
            </div>
        {% else %}
            {{ app.user.shift }}
        {% endif %}
    </div>
    <div class="col"><a href="{{ path('app_logout') }}" class="btn btn-primary btn-block">Выйти</a></div>
</nav>